#foto {
	height:200px;
	padding-left: 20px;

}

h1 {
	text-align: center;
	padding-left: 120px;
	display: inline;
	position: absolute;
	top: 50px;
	left:200px;
}

h1:hover {
	font-size:50px;
	color:#C78C19;
}

body {
	background: #CCCCCC;
}

p {
	font-size: 15px;
	padding-left: 20px;
}
